/* CSS files add styling rules to your content */

body {
font-family: 'Montserrat', sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'Codystar', cursive;
  font-style: bold;
  color: #C0C0C0;#C0C0C0
}

h2 {
  font-family: 'Codystar', cursive;
  font-style: bold;
  color: #C0C0C0;#C0C0C0
}

h3 {
  font-family: 'Codystar', cursive;
  font-style: bold;
  color: #C0C0C0;#C0C0C0
}

p {
font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.65;
  font-style: inherited;
  color: #696969;
}

ul {
 font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.65;
  font-style: inherited;
  color: #696969;
}

ol {
font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.65;
  font-style: inherited;
  color: #696969;
}

label {
font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.65;
  font-style: inherited;
  color: #696969;
}

  .smaller-image {
    width: 300px;
  }

  .image-border {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
  }

  .menu-background {
  background-color: #F8F9F9;
}
    
 #submit-background {
  background-color: ##F8F9F9;
}